{% extends 'base.html.twig' %}

{% block title %}Algorithm{% endblock title %}

{% block body %}
    <section class="h-100">
        <header class="container h-100">
            <div class="d-flex justify-content-center">
                <form action="" method="post" class="col-4">
                    <h4 class="text align-self-center p-2" for="number">Find maximum value</h4>
                    <small class="form-text text-muted">Enter number between 1 - 99999</small>
                    <div id="numbers">
                        <div class="number input-group mb-2">
                            <input type="number" class="form-control" name="number0" id="number0">
                        </div>
                    </div>
                    <button class="btn btn-secondary" type="button" id="add">+</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <div class="form-row">
                        {% if results %}
                            <table class="table mt-2">
                                <thead>
                                <tr>
                                    <th scope="col">Number</th>
                                    <th scope="col">MaxValue</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for key,result in results %}
                                    <tr>
                                        <td scope="row">{{ key }}</td>
                                        <td>{{ result }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                </form>
            </div>

        </header>
    </section>
{% endblock %}

{% block javascripts %}
<script>
    $(document).ready(function() {
        var count=1;
        $("#add").click(function(){
            if (count <= 9) {
                var html="<div class='input-group mb-2'><input class='form-control' name='number"+count+"' type='text'></input><button type='button' class='rmbtn btn btn-secondary'>-</button></div>";
                $("#numbers").append(html);
            }
            count++;
        });

        $("body").on("click", ".rmbtn", function() {
            $(this).parent().remove();
        });
    });
</script>
{% endblock %}
